body{font: 12px/1.75 arial, "宋体", sans-serif;}
.p-20{ padding: 20px;}
.login-main{ display: none;}
.clear{ clear: both; width: 0px; height: 0px;}
/*登录界面样式*/
/*比较LOW的*/
.login-low-main{   background: #282828; width: 100%; position: relative;}
.login-low-main .login-main-bg{border: 1px solid #ddd;width: 400px;margin: 0px auto; background:#fff; padding: 20px 25px; position: absolute; top:50%; left: 50%; margin: -210px  0px 0px -225px;}
.login-low-main .common-table{ width: 100%;}
.login-low-main .login-main-title{ padding-bottom: 10px; text-align: center; font-size: 24px;
font-family: "Microsoft YaHei",sans-serif; color: #282828; border-bottom: 1px solid #ddd;}
.login-low-main .common-table-tr td{ font-size: 14px; padding-top: 10px; color: #333; line-height: 30px;}
.login-low-main .common-table-tr .input-control{ border: 1px solid #ddd; height: 28px; width: 250px; margin-left: 10px; padding:0px 0px 0px 10px; border-radius: 2px;}
.login-low-main .btn-primary{ display: block; height: 38px; line-height: 38px; background: #3380d5; width: 333px; margin: 20px auto 0px auto; text-align: center; font-size: 16px; color: #fff; border-radius: 4px;}
.login-low-main .btn-primary:hover{background: #488edb;}
/*比较屌的*/
.login-advanced-main { background: #50a3a2; background: -webkit-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%); background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%); opacity: 0.8;position: absolute;top: 0; left: 0; width: 100%; height: 100%; margin-top: 0px;overflow: hidden; position: relative;}
.login-advanced-main.form-success .container h1 {-webkit-transform: translateY(85px); -ms-transform: translateY(85px); transform: translateY(85px);}
.container { width: 600px;  height: 400px; text-align: center; position: absolute; top: 50%; left: 50%; margin-left: -300px; margin-top:-200px; }
.container h1 { font-size: 40px;-webkit-transition-duration: 1s;transition-duration: 1s; -webkit-transition-timing-function: ease-in-put; transition-timing-function: ease-in-put; font-weight: 200; color:#fff; }
.container-table { padding:10px 0px 30px 0; position: relative; z-index: 2;}
.container-table input {-webkit-appearance: none; -moz-appearance: none; appearance: none; outline: 0; border: 1px solid rgba(255, 255, 255, 0.4); background-color: rgba(255, 255, 255, 0.2); width: 200px; border-radius: 3px; padding: 10px 15px; margin: 0 auto 10px auto; display: block; text-align: left; font-size: 18px;color: #fff;-webkit-transition-duration: 0.25s; transition-duration: 0.25s;font-weight: 300;}
.container-table input:hover { background-color: rgba(255, 255, 255, 0.4);}
.login-advanced-yzm{ position:relative;}
.login-advanced-yzm img { display:block; position:absolute; top:7px; right:187px; width:91px; height:26px;}
.login-advanced-main input:focus { background-color: white; width: 200px;color: #53e3a6;}
.login-advanced-main .btn-primary {-webkit-appearance: none; -moz-appearance: none; appearance: none;outline: 0; background-color: #FFF143; border: 0;  color: #00a67b; border-radius: 4px;width: 232px;cursor: pointer;font-size: 18px;  -webkit-transition-duration: 0.25s; transition-duration: 0.25s; display: block; margin: 20px auto 0px auto; padding: 3px 0px;}
.login-advanced-main .btn-primary:hover { background:#FFF395; color:#00a67b;}
.bg-bubbles {  position: absolute; top: 0;left: 0;width: 100%; height: 100%; z-index: 1;}
.bg-bubbles li { position: absolute;list-style: none; display: block; width: 40px; height: 40px; background-color: rgba(255, 255, 255, 0.15); bottom: -160px; -webkit-animation: square 25s infinite; animation: square 25s infinite;
-webkit-transition-timing-function: linear; transition-timing-function: linear;}
.bg-bubbles li:nth-child(1) {  left: 10%;}
.bg-bubbles li:nth-child(2) { left: 20%; width: 80px; height: 80px; -webkit-animation-delay: 2s; animation-delay: 2s; -webkit-animation-duration: 17s; animation-duration: 17s;
}
.bg-bubbles li:nth-child(3) { left: 25%;-webkit-animation-delay: 4s; animation-delay: 4s;}
.bg-bubbles li:nth-child(4) { left: 40%; width: 60px; height: 60px;-webkit-animation-duration: 22s; animation-duration: 22s; background-color: rgba(255, 255, 255, 0.25);}
.bg-bubbles li:nth-child(5) { left: 70%;}
.bg-bubbles li:nth-child(6) {left: 80%; width: 120px; height: 120px;-webkit-animation-delay: 3s;animation-delay: 3s; background-color: rgba(255, 255, 255, 0.2);}
.bg-bubbles li:nth-child(7) {left: 32%; width: 160px; height: 160px;-webkit-animation-delay: 7s; animation-delay: 7s;}
.bg-bubbles li:nth-child(8) { left: 55%; width: 20px;height: 20px;-webkit-animation-delay: 15s; animation-delay: 15s;-webkit-animation-duration: 40s;  animation-duration: 40s;}
.bg-bubbles li:nth-child(9) {left: 25%;width: 10px; height: 10px;-webkit-animation-delay: 2s; animation-delay: 2s; -webkit-animation-duration: 40s; animation-duration: 40s; background-color: rgba(255, 255, 255, 0.3);
}
.bg-bubbles li:nth-child(10) { left: 90%; width: 160px; height: 160px;-webkit-animation-delay: 11s; animation-delay: 11s;}
@-webkit-keyframes square {
  0% {
    -webkit-transform: translateY(0); transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-700px) rotate(600deg); transform: translateY(-700px) rotate(600deg);
  }
}
@keyframes square {
  0% {
    -webkit-transform: translateY(0);   transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-700px) rotate(600deg); transform: translateY(-700px) rotate(600deg);
  }
}
.login-main ::-webkit-input-placeholder { /* WebKit browsers */
color: #fff;
}
.login-main :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
color: #fff;
}
.login-main ::-moz-placeholder { /* Mozilla Firefox 19+ */
color: #fff;
}
.login-main :-ms-input-placeholder { /* Internet Explorer 10+ */
color: #fff;
}
/*所有列表的搜索样式*/
.layout-search{margin: 10px 10px 0 10px;padding: 18px;background-color: #F0F5FB;border: 1px solid #D8E6F5;}
.layout-search .input-mobile{ width: 200px; padding: 0px 0px 0px 10px; border:1px solid #999; color: #333; height: 28px;}
.layout-search .input-keyword{width: 200px; padding: 0px 0px 0px 10px; border:1px solid #999; color: #333; height: 28px;}
.layout-search .btn{line-height: 14px;height: 30px; padding: 0px 20px; background: #2776ab; border: 0px; font-size: 14px;}
.layout-search .btn:hover{background: #acd1ff;}

/*普通的列表页样式*/
.common-list{ margin: 15px 10px 0px 10px; color: #333;}
.common-list-table{width: 100%;}
.common-list-table td,.common-list-table th{ border:1px solid #ddd; padding: 6px 0px 6px 10px;}
.common-list-table th{background: #C1D9F3;}
.common-list .operating a{ color: #336699; margin-right: 10px;}
.common-list .operating a:hover{ color: #f60;}
.btn-batch-add{ float: right; margin-right: 10px; color: #369;}
.btn-batch-add:hover{ color: #f60;}
.input-allName,.input-allEnName{ height: 28px; border:1px solid #999; border-radius: 4px; color: #666;  width: 256px;}
.input-allOrder{height: 28px; border:1px solid #999; border-radius: 4px; color: #666;  width: 124px; text-align: center;}
.input-allName:hover,.input-allEnName:hover,.input-allOrder:hover{ border: 1px solid #369;}
/*产品*/
.layout-header{ height: 70px; height: 70px;min-width: 1220px;position: relative;z-index: 30;background:#31465f;color: #fff;}
.layout-header .logo{ display: block; width:200px; height: 70px; font-size: 40px; line-height: 70px; position: absolute; top: 0px; left: 0px; color: #fff; text-align: center;}
.layout-header nav{margin-left: 200px;}
.layout-header nav a{padding: 0 40px;display: inline-block;*display: inline;*zoom: 1;line-height: 66px;font-weight: bold;background-color: #375171;border-bottom: 4px solid #619DE0;color: #fff;margin-right: 5px;}
.header-user{float: right;margin-right: 40px;line-height: 70px;}
.header-user a{padding: 0 10px; color: #fff;}
.header-user a:hover{ color: #f60;}
.layout-center{ width: 100%; position: relative;}
.layout-left{ background: #E8EBEF; position: absolute; width: 200px; min-height: 600px; top: 0px; left: 0px;}
.layout-left .layout-left-list{padding: 10px 0;border-bottom: 1px solid #BFC8D8;border-top: 1px solid #F4F5F6;color: #354B66; text-align: right;}
.layout-left .layout-left-list .layout-left-tub{padding-right: 30px;font-weight: bold;}
.layout-left .layout-left-list .layout-left-subclass{padding-right: 30px;}
.layout-left .layout-left-list .layout-left-subclass a{color: #354B66;}
.layout-left .layout-left-list .layout-left-subclass a:hover{color: #2878D0;}
.layout-left .layout-left-list .layout-left-subclass .current{color: #2878D0;}
.layout-right{ padding-left: 210px;}
.layout-right .crumbs {padding-left: 10px;line-height: 38px;border-bottom: 1px dotted #BFC8D8;}
.layout-admin{ width: 100%;}
.product-tub{ border:1px solid #ddd;padding: 10px 0px; margin-top: 10px;}
.product-tub a{ margin-left: 10px; padding: 4px 10px; border:1px solid #ddd;}
.product-main{border:1px solid #ddd; border-top:0px;}
.product-main table{ width: 100%;}
.product-main th{ line-height: 40px; background: #C1D9F3; text-align:center;}
.product-main td{ padding: 10px 0px; border-bottom: 1px solid #ddd;vertical-align:top;}
.product-main td .first-img{ display: block; width: 50px; height: 50px;  margin: 0px auto 0px auto;}
.product-main td .first-p{ text-align: center; line-height: 25px; margin-top: 30px;}
.product-main  input{ width: 80%; border:1px solid #666;}
.product-main .td-name{ width: 98px; padding: 0px; height: 25px; color: #666; margin:17px 0px 18px 0px;}
.product-main .tr-enName{width: 98px; padding: 0px; height: 25px; color: #666; margin:17px 0px 0px 0px;}
.product-main .td-description{ width: 90%; padding:5px; height: 38px; line-height: 19px; font-size: 12px; margin: 0px auto;border:1px solid #666;}
.product-main .td-enDescription{width: 90%; padding:5px;height: 38px; line-height: 19px; font-size: 12px;margin: 0px auto;margin-top: 15px;border:1px solid #666}
.product-main .td-size,.product-main .td-color,.product-main .td-material,.product-main .td-technique{width: 90%;padding: 0px; height: 25px; color: #666; margin:17px auto 18px auto;}
.product-main .td-enSize,.product-main .td-enColor,.product-main .td-enMaterial,.product-main .td-enTechnique{width: 90%;padding: 0px; height: 25px; color: #666; margin:17px auto 0px auto;}
.product-main .td-minQuantity{ width:90%; margin: 47px auto 0px auto; height: 25px;}
.product-main .td-deliveryDay{ width: 50px;  height: 25px; margin-right: 5px;}
.floating-middle{ width: 100%;margin: 47px auto 0px auto; height: 27px; line-height: 27px; display: block;}
.product-main .td-keywords{ width: 94%;padding: 0px; height: 25px; color: #666; margin:17px 0px 18px 0px;}
.product-main .td-enKeywords{width: 94%;padding: 0px; height: 25px; color: #666; margin:17px 0px 0px 0px;}
.product-main .td-unitPrice{ width: 80%; height: 25px; margin-right: 5px; }
.product-main .td-sortNo{width:90%; margin: 47px auto 0px auto; height: 25px;}
/*产品分类*/
.common-form{margin: 15px 10px 0px 10px; color: #333;}
#product-categories .btn-add-all{ float: right; margin-right: 10px; color: #369;}
#product-categories .btn-add-all:hover{ color: #f60;}
.input-sortName,.input-sortEnName{ height: 28px; border:1px solid #999; border-radius: 4px; color: #666;  width: 256px;}
.input-sortOrder{height: 28px; border:1px solid #999; border-radius: 4px; color: #666;  width: 124px; text-align: center;}
.input-sortName:hover,.input-sortEnName:hover,.input-sortOrder:hover{ border: 1px solid #369;}
.options-add{ display: block; width: 50%; height: 20px; line-height: 20px; font-size: 14px; color: #336699; text-align: center; margin: 0px auto;}
.options-add:hover{ color: #f60;}
.options{ margin-top: 15px;}
.options-save{ padding: 6px 20px; background: #336699; color: #fff; font-size: 14px;}
.options-save:hover{ background: #acd1ff; color: #fff;}
/*产品列表*/
#product-list  label{ position: relative; padding-left: 15px; display: block; line-height: 29px;}
#product-list  label input{ width: 13px; height: 13px; position: absolute; top: 50%; margin-top: -7px; left: 0px;}
#product-list .btn-default{ float: left; padding: 3px 6px; border: 1px solid #ddd; display: block; margin-right: 10px;}
.product-edit-top{ margin-bottom: 10px;}
.product-edit-top a{ padding: 6px 20px; background: #336699; color: #fff; font-size: 14px; margin-right: 20px;}
.product-edit-top a:hover{ background: #acd1ff; color: #fff;}
.product-edit-tr img{ display: block; width: 50px; height: 50px; margin: 9px auto 29px auto;}
.product-edit-tr p{ text-align: center;}
.product-edit-tr th{ padding: 6px 0px; text-align: center;}
.product-edit-tr th label{ position: relative; padding-right: 15px;}
.product-edit-tr th label input{ position: absolute; top: 50%;right: 0px; margin-top: -7px; width: 13px; height: 13px; }
.product-edit-tr td{ padding: 0px; vertical-align: top;}
.product-edit-tr input{ width:90%; margin:0px auto; padding: 0px; height: 24px;border:1px solid #999;display:block;text-indent:2px}
.product-edit-tr textarea{ width: 90%; margin: 10px auto; display: block; padding: 0px; height: 50px; }
.product-edit-double{ padding: 20px 0px;}
.product-edit-unit{  padding:0px 20px 0px 5px; margin: 0px auto; position: relative;}
.product-edit-unit input{ width: 100%;}
.product-edit-unit span{ font-size: 12px; color: #999; position: absolute; top: 0px; right: 3px;}
.product-hide-tr{ display: none;}
/*产品分类弹出框*/
.popBox-bg{ position: fixed; top: 0px; left: 0px;background: #000;opacity: 0.5; z-index: 100; display: none; width: 100%; height: 100%;}
.popBox{width: 450px;position: fixed; top: 50%; left: 50%; margin-left: -245px;z-index: 101; background: #fff;padding: 0px 20px 30px 20px;border-radius: 6px; margin-top: -260px;display: none;}
.popBox .title{padding: 16px 0px;font-size: 16px;font-family: "Microsoft YaHei", Helvetica, sans-serif;color: #4D4D4D;border-bottom: 1px solid #c5c5c5;position: relative;}
.popBox .title .span_close {display: block;width: 44px;height: 44px;background: url("http://img.tgimg.cn/Common/pop-close.png") no-repeat;position: absolute;top: 0px;right: -20px;cursor: pointer;}
.popBox .title .span_close:hover {background: url("http://img.tgimg.cn/Common/pop-close-hover.png") no-repeat;}
.popBox .main{ width: 100%;}
.popBox .main-list{ padding-left: 80px; position: relative; margin-bottom: 10px;}
.popBox .main-list span{ position: absolute; display: block; top: 0px; left: 0px; height: 30px; line-height: 30px; color: #333;}
.popBox .main-list input,.popBox .main-list textarea{border:1px solid #AAA; border-radius: 4px;}
.popBox .main-list input:hover,.popBox .main-list textarea:hover{ border:1px solid #336699; }
.popBox .main-list-name{ width: 350px; padding:0px 0px 0px 10px; height: 28px;}
.popBox .main-list-name_en{width: 350px; padding:0px 0px 0px 10px; height: 28px;}
.popBox .main-list-order{ width: 100px;padding:0px 0px 0px 10px;height: 28px;}
.popBox .main-list-introduce{ width: 340px; padding: 0px 10px;height: 70px;}
.popBox .main-upload{ width: 350px; margin-bottom: 20px;}
.popBox .main-upload li{ width: 122px; float: left; margin-right: 20px;}
.popBox .main-upload li img{ width: 120px; height:120px; margin-bottom: 10px ; border: 1px solid #ddd; display: block; text-align: center; line-height: 120px;}
.popBox .main-upload li a{ display: block; width: 80px; height: 25px; margin: 0px auto; text-align:center; line-height: 25px;}
.popBox .bottom{ height: 35px; width: 220px; margin-left: 80px;}
.popBox .bottom a{ display: block; width: 98px; height:33px; border-radius: 4px; line-height: 33px; text-align:center;  float: left; font-size: 14px;}
.popBox .save-btn{ border: 1px solid #f60; background: #f60; color: #fff;margin-right: 20px;}
.popBox .cancel-btn{border: 1px solid #aaa; color: #aaa;}
.popBox .save-btn:hover,.popBox .cancel-btn:hover{opacity:0.8;filter:alpha(opacity=80)}
/*地区与行业类型弹出框*/
#popArea,#popTrade{margin-top: -165px;}