@charset "GBK";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, dialog, details, em, fieldset, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, main, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section {
  display: block; }

datalist {
  display: none; }

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

/* 强制expression渲染 */
html, body {
  background-image: url(about:blank);
  background-attachment: fixed; }

v\:* {
  behavior: url(#default#VML); }

html {
  height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

strong {
  font-weight: 900; }

em {
  font-weight: 900;
  font-style: italic; }

mark {
  background-color: #ff0; }

/* IE7按钮的黑边
input[type=submit],input[type=reset],input[type=button], button{ *filter:chroma(color=#000000);}
button{ _filter:chroma(color=#000000);}
*/
ol, ul, menu {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
  content: none; }

table {
    border-collapse: collapse;
  border-spacing: 0; }

th, td {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

th {
  text-align: left; }

audio:not([controls]) {
  display: none; }

a {
  cursor: pointer; }

a:focus {
  outline: thin dotted; }

a:hover, a:active {
  outline: none 0; }

img {
  -ms-interpolation-mode: bicubic;
  vertical-align: top; }

address {
  font-style: normal; }

caption {
  text-align: left; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

em {
  font-style: normal; }

/* 统一浏览器表单对齐方式 */
button, input, select {
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

input, select {
  font-family: inherit; }

textarea, button, input, select {
  font-size: 100%; }
  textarea:focus, button:focus, input:focus, select:focus {
    outline: none; }

button, input {
  line-height: normal;
  *overflow: visible; }

button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
  padding: 0; }

button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button; }

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
    margin: 0;
  overflow: auto;
  /*移除IE6-9纵向滚动条*/
  vertical-align: top;
  /* 统一多行文本对齐方式 */
  resize: none;
  font-family: inherit;
  _font-family: \5b8b\4f53;
  /* IE6比较脑抽 */
  font-size: inherit;
  /* 火狐貌似不继承font-size */ }

:-moz-placeholder {
  color: #999; }

::-moz-placeholder {
  color: #999; }

::-webkit-input-placeholder {
  color: #999; }

.placeholder {
  color: #999; }

f-placeholder-text {
  color: #999;
  cursor: text;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: middle; }

button {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: baseline;
  *vertical-align: middle;
  cursor: pointer; }

button {
  cursor: pointer;
  -moz-user-select: none;
  -webkit-user-select: none; }

small {
  font-size: 85%; }

progress {
  border: 1px solid #0064B4;
  background-color: #e6e6e6;
  color: #0064B4;
  /*IE10*/ }

*[hidden] {
  display: none; }

i {
  font-style: italic; }

progress::-moz-progress-bar {
  background: #0064B4; }

progress::-webkit-progress-bar {
  background: #e6e6e6; }

progress::-webkit-progress-value {
  background: #0064B4; }

h6 {
  font-weight: normal; }

.clearfix, .cf {
  zoom: 1; }
  .clearfix:before, .clearfix:after, .cf:before, .cf:after {
    content: ".";
    display: block;
    height: 0;
    visibility: hidden; }
  .clearfix:after, .cf:after {
    clear: both; }

.cl, .clr {
  clear: both; }

.clr {
  height: 0;
  font-size: 0;
  line-height: 0; }

.fl, .fLeft {
  float: left; }

.fr, .fRight {
  float: right; }

.tc {
  text-align: center; }

.tl {
  text-align: left; }

.tr {
  text-align: right; }

.tj {
  text-align: justify;
  /*ie6-8*/
  text-justify: distribute-all-lines;
  /* ie9*/
  text-align-last: justify;
  /*ff*/
  -moz-text-align-last: justify;
  /*chrome 20+*/
  -webkit-text-align-last: justify; }
  .tj:after {
    content: ".";
    display: inline-block;
    width: 100%;
    overflow: hidden;
    height: 0; }

.vt {
  vertical-align: top; }

.vm {
  vertical-align: middle; }

.vb {
  vertical-align: text-bottom; }

.hide {
  display: none; }

.of-h {
  overflow: hidden; }

.d-ib {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

.td-ul {
  text-decoration: underline; }

.w960, .layout960 {
  width: 960px;
  margin: 0 auto;
  text-align: left; }

.w970, .layout970 {
  width: 970px;
  margin: 0 auto;
  text-align: left; }

.ml-10 {
  margin-left: 10px; }

.mr-10 {
  margin-right: 10px; }

.mt-10 {
  margin-top: 10px; }

.mb-10 {
  margin-bottom: 10px; }

.c-369 {
  color: #369; }

.c-f60 {
  color: #f60; }

.c-333 {
  color: #333; }

.c-666 {
  color: #666; }

.c-555 {
  color: #555; }

.c-888 {
  color: #888; }

.c-630 {
  color: #630; }

.c-900 {
  color: #900; }

.c-f00 {
  color: #f00; }

.cOrg {
  color: #f60; }

.f12 {
  font-size: 12px; }

.f14 {
  font-size: 14px; }

.f16 {
  font-size: 16px; }

.fw-b {
  font-weight: bold; }

body {
  color: #333;
    font-size: 12px;
  line-height: 24px;
  font-family: '宋体';
  background: #fff; }

a {
  text-decoration: none;
  color: #369; }
  a:hover {
    text-decoration: none;
    color: #f60; }
  a:visited {
    text-decoration: none;
    color: #369; }

em {
  font-weight: 400; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 400; }

input, select, textarea {
  vertical-align: middle; }

img {
  border: none; }

.btn-menu a, .btn-group a, .button, button {
    display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
    cursor: pointer;
  text-decoration: none;
    white-space: nowrap;
  outline: none;
  overflow-y: hidden;
  box-shadow: none;
  text-align: center;
  border: 1px solid; }
  .btn-menu a span, .btn-menu a s, .btn-menu a i, .btn-menu a b, .btn-group a span, .btn-group a s, .btn-group a i, .btn-group a b, .button span, .button s, .button i, .button b, button span, button s, button i, button b {
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none; }
  .btn-menu a, .btn-group a, .button, button {
    line-height: 24px;
    height: 24px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 12px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 2px;
    background-image: url("http://img.tgimg.cn/ywqadmin/shared/btn.png"); }
  .btn-menu a.btn-lg, .btn-group a.btn-lg, .button.btn-lg, button.btn-lg {
    line-height: 28px;
    height: 28px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 14px;
    padding-left: 20px;
    padding-right: 20px;
    background-image: url("http://img.tgimg.cn/ywqadmin/shared/btn-lg.png"); }
  .btn-menu a.btn-sm, .btn-group a.btn-sm, .button.btn-sm, button.btn-sm {
    line-height: 20px;
    height: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
    background-image: url("http://img.tgimg.cn/ywqadmin/shared/btn-sm.png"); }
  .btn-menu a.btn-xlg, .btn-group a.btn-xlg, .button.btn-xlg, button.btn-xlg {
    line-height: 32px;
    height: 32px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 14px;
    padding-left: 20px;
    padding-right: 20px;
    background-image: url("http://img.tgimg.cn/ywqadmin/shared/btn-xlg.png"); }
  .btn-menu a, .btn-group a, .button, button {
    border-color: #2776ab;
    color: white;
    background-color: #acd1ff; }
    .btn-menu a, .btn-group a, .button, button {
      color: white;
      background-position: 0 0px; }
    .btn-menu a:hover, .btn-group a:hover, .button:hover, button:hover {
      color: white;
      background-position: 0 -40px; }
    .btn-menu a:active, .btn-group a:active, .button:active, button:active {
      color: white;
      background-position: 0 -80px; }
  .btn-menu a.btn-primary, .btn-group a.btn-primary, .button.btn-primary, button.btn-primary {
    border-color: #ff8d07;
    color: white;
    background-color: #ffa312; }
    .btn-menu a.btn-primary, .btn-group a.btn-primary, .button.btn-primary, button.btn-primary {
      color: white;
      background-position: 0 -120px; }
    .btn-menu a.btn-primary:hover, .btn-group a.btn-primary:hover, .button.btn-primary:hover, button.btn-primary:hover {
      color: white;
      background-position: 0 -160px; }
    .btn-menu a.btn-primary:active, .btn-group a.btn-primary:active, .button.btn-primary:active, button.btn-primary:active {
      color: white;
      background-position: 0 -200px; }
  .btn-menu a.btn-info, .btn-group a.btn-info, .button.btn-info, button.btn-info {
    border-color: #cccccc;
    color: #336699;
    background-color: #f2f2f2; }
    .btn-menu a.btn-info, .btn-group a.btn-info, .button.btn-info, button.btn-info {
      color: #336699;
      background-position: 0 -240px; }
    .btn-menu a.btn-info:hover, .btn-group a.btn-info:hover, .button.btn-info:hover, button.btn-info:hover {
      color: #336699;
      background-position: 0 -280px; }
    .btn-menu a.btn-info:active, .btn-group a.btn-info:active, .button.btn-info:active, button.btn-info:active {
      color: #336699;
      background-position: 0 -320px; }
  .btn-menu a.btn-lg, .btn-menu a.btn-xlg, .btn-group a.btn-lg, .btn-group a.btn-xlg, .button.btn-lg, .button.btn-xlg, button.btn-lg, button.btn-xlg {
    font-weight: bold; }
  .btn-menu a:hover, .btn-group a:hover, .button:hover, button:hover {
    cursor: pointer;
    text-decoration: none; }
  .btn-menu a:active, .btn-group a:active, .button:active, button:active {
    box-shadow: none; }
  .btn-menu a:focus, .btn-group a:focus, .button:focus, button:focus {
    outline: none; }
  .btn-menu a.block, .btn-group a.block, .button.block, button.block {
    display: block;
    padding-left: 0;
    padding-right: 0; }

button {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: visible; }
  button {
    line-height: 14px;
    height: 26px;
    padding-top: 5px;
    padding-bottom: 5px;
    *padding-top: 4px;
    *padding-bottom: 6px;
    _padding-bottom: 3px; }
  button.btn-lg {
    line-height: 16px;
    height: 30px;
    padding-top: 6px;
    padding-bottom: 6px;
    *padding-top: 5px;
    *padding-bottom: 7px;
    _padding-bottom: 4px; }
  button.btn-sm {
    line-height: 14px;
    height: 22px;
    padding-top: 3px;
    padding-bottom: 3px;
    *padding-top: 2px;
    *padding-bottom: 4px;
    _padding-bottom: 1px; }
  button.btn-xlg {
    line-height: 16px;
    height: 34px;
    padding-top: 8px;
    padding-bottom: 8px;
    *padding-top: 7px;
    *padding-bottom: 9px;
    _padding-bottom: 6px; }

.btn-group a, .btn-group input, .btn-group output, .btn-group button, .btn-group select {
  border-right-width: 0;
  border-radius: 0;
  margin-left: 0;
  margin-right: 0;
  box-shadow: none; }
.btn-group a.first-item, .btn-group button.first-item {
  border-radius: 2px 0 0 2px; }
.btn-group a.last-item, .btn-group button.last-item {
  border-radius: 0 2px 2px 0; }
.btn-group input.first-item, .btn-group output.first-item, .btn-group select.first-item {
  border-radius: 2px 0 0 2px; }
.btn-group input.last-item, .btn-group output.last-item, .btn-group select.last-item {
  border-radius: 0 2px 2px 0; }
.btn-group a.last-item, .btn-group button.last-item {
  border-right-width: 1px; }
.btn-group input.last-item, .btn-group output.last-item, .btn-group select.last-item {
  border-right-width: 1px; }

.input-group input {
  cursor: text;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  vertical-align: middle;
  border-radius: 2px;
  overflow: hidden;
  border: 1px solid; }
  .input-group input {
    color: #555555;
    background-color: white;
    border-color: #cccccc; }
  .input-group input.txtbox-error {
    color: red;
    background-color: #ffe9e9;
    border-color: red; }
  .input-group input {
    font-size: 12px;
    line-height: 24px;
    padding: 0px 0.5em 0px 0.5em; }
  .input-group input.txtbox-lg {
    font-size: 14px;
    line-height: 28px;
    padding: 0px 0.5em 0px 0.5em; }
  .input-group input.txtbox-sm {
    font-size: 12px;
    line-height: 20px;
    padding: 0px 0.75em 0px 0.75em; }
  .input-group input.txtbox-xlg {
    font-size: 14px;
    line-height: 32px;
    padding: 0px 1em 0px 1em; }
  .input-group input[readonly], .input-group input.readonly, .input-group input[disabled], .input-group input.disabled {
    background-color: #EEE; }
  .input-group input::-moz-placeholder {
    color: #888888 !important;
    opacity: 1; }
  .input-group input:-moz-placeholder {
    color: #888888 !important;
    opacity: 1; }
  .input-group input::-webkit-input-placeholder {
    color: #888888 !important; }
  .input-group input:-ms-input-placeholder {
    color: #888888 !important; }
  .input-group input.placeholder {
    color: #888888 !important; }
  .input-group input {
    height: 24px; }
  .input-group input.txtbox-lg {
    height: 28px; }
  .input-group input.txtbox-sm {
    height: 20px; }
  .input-group input.txtbox-xlg {
    height: 32px; }

.input-group a, .input-group input, .input-group output, .input-group button, .input-group select {
  border-right-width: 0;
  border-radius: 0;
  margin-left: 0;
  margin-right: 0;
  box-shadow: none; }
.input-group a.first-item, .input-group button.first-item {
  border-radius: 2px 0 0 2px; }
.input-group a.last-item, .input-group button.last-item {
  border-radius: 0 2px 2px 0; }
.input-group input.first-item, .input-group output.first-item, .input-group select.first-item {
  border-radius: 2px 0 0 2px; }
.input-group input.last-item, .input-group output.last-item, .input-group select.last-item {
  border-radius: 0 2px 2px 0; }
.input-group a.last-item, .input-group button.last-item {
  border-right-width: 1px; }
.input-group input.last-item, .input-group output.last-item, .input-group select.last-item {
  border-right-width: 1px; }

.text-input, select {
  height: 22px;
  box-sizing: content-box;
  line-height: 22px;
  height: 22px;
  border: 1px solid #8CA9CC;
  border-radius: 2px; }
  .text-input:focus, select:focus {
    box-shadow: 0 0 5px #A4C6FD;
    outline: -webkit-focus-ring-color auto 5px; }

.text-input {
  padding: 1px 0.5em; }

select {
  padding: 1px 0 1px 0.5em;
  cursor: pointer; }

textarea {
  padding: 4px;
  box-sizing: content-box;
  line-height: 22px;
  height: 22px;
  border: 1px solid #8CA9CC;
  border-radius: 2px;
  height: 66px; }
  textarea:focus {
    box-shadow: 0 0 5px #A4C6FD;
    outline: -webkit-focus-ring-color auto 5px; }

.checkbox-list label {
  cursor: pointer; }
.checkbox-list input {
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  width: 13px;
  height: 13px; }
  .checkbox-list input:focus {
    box-shadow: none !important; }
.checkbox-list {
  line-height: 25px;
  font-size: 12px; }
.checkbox-list label {
  margin-right: 0.5em; }
.checkbox-list input {
  vertical-align: top;
  *vertical-align: middle;
  margin-top: 6px;
  *margin-top: 0;
  _margin-top: 6px;
  _margin-bottom: 6px;
  margin-right: 0.5em; }
.checkbox-list.cklist-lg {
  line-height: 25px;
  font-size: 12px; }
.checkbox-list.cklist-lg label {
  margin-right: 0.5em; }
.checkbox-list.cklist-lg input {
  vertical-align: top;
  *vertical-align: middle;
  margin-top: 6px;
  *margin-top: 0;
  _margin-top: 6px;
  _margin-bottom: 6px;
  margin-right: 0.5em; }
.checkbox-list.cklist-sm {
  line-height: 32px;
  font-size: 12px; }
.checkbox-list.cklist-sm label {
  margin-right: 0.75em; }
.checkbox-list.cklist-sm input {
  vertical-align: top;
  *vertical-align: middle;
  margin-top: 9.5px;
  *margin-top: 0;
  _margin-top: 9.5px;
  _margin-bottom: 9.5px;
  margin-right: 0.75em; }
.checkbox-list.cklist-xlg {
  line-height: 25px;
  font-size: 12px; }
.checkbox-list.cklist-xlg label {
  margin-right: 1em; }
.checkbox-list.cklist-xlg input {
  vertical-align: top;
  *vertical-align: middle;
  margin-top: 6px;
  *margin-top: 0;
  _margin-top: 6px;
  _margin-bottom: 6px;
  margin-right: 1em; }

.table-common {
  width: 100%;
  border: 1px solid #DDD; }
  .table-common thead th {
    white-space: nowrap;
    font-weight: normal;
    background-color: #C1D9F3; }
  .table-common td, .table-common th {
    padding: 5px 10px;
    border-width: 1px;
    border-color: #DDD;
    border-bottom-style: solid;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box; }
  .table-common th {
    text-align: center;
    vertical-align: middle; }
  .table-common tbody.bordered th, .table-common tbody.bordered td {
    border-style: solid; }

.layout1200 {
  margin: 0 auto;
  width: 1200px; }

.c-f60 {
  color: #F60; }

.tx-warn {
  color: #f00; }

.tx-correct {
  color: #080; }

.tx-minor {
  color: #bbb; }

.tx-center {
  text-align: center;
  vertical-align: middle; }

.tx-left {
  text-align: left;
  vertical-align: middle; }

/*基本弹出框样式*/
.popup {
  border: 1px solid #adcae9;
  padding: 1px;
  background: #fff;
  width: 360px; }
  .popup .title {
    padding-left: 13px;
    height: 30px;
    line-height: 30px;
    background: #4894d5;
    color: #fff;
    font-size: 12px;
    font-weight: bold; }
    .popup .title .btn-close {
      background: url("http://img.tgimg.cn/project/v2/bg/bg_blue_close.gif") no-repeat 0 0;
      width: 16px;
      height: 16px;
      cursor: pointer;
      overflow: hidden;
      position: absolute;
      right: 5px;
      top: 8px; }
  .popup .content {
    padding: 10px; }

/*分页样式*/
.page {
margin: 20px 0;
line-height: 20px;
  text-align: center; }
.page a, .page b {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    border: 1px #8CA9CC solid;
    background-color: #FFF;
    padding-left: 7px;
    padding-right: 7px;
    height: 20px;
    color: #1f366d;
    cursor: pointer;
    margin-right: 5px;
    font-weight: 400;
    border-radius: 2px; }
.page b, .page a.current, .page a:hover {
    border: 1px #4C6A8C solid;
    background-color: #8BBBE9;
    color: #fff; }
.page input {
box-sizing: content-box;
line-height: 22px;
height: 22px;
border: 1px solid #8CA9CC;
border-radius: 2px;
height: 16px;
width: 40px;
line-height: 16px;
border-right: 0;
vertical-align: top;
    border-radius: 2px 0 0 2px; }
    .page input:focus {
      box-shadow: 0 0 5px #A4C6FD;
      outline: -webkit-focus-ring-color auto 5px; }

/*加载中过渡样式*/
.loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 50px;
  background: url("http://img.tgimg.cn/common/loading-lg.gif") no-repeat center center white;
  opacity: 0.7;
  filter: alpha(opacity=70);
  z-index: 2; }

.backdrop {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #31465F;
  opacity: .5;
  z-index: 100;
  position: fixed;
  filter: alpha(opacity=50);
  zoom: 1;
  _position: absolute;
  _height: expression(eval('document.body.offsetHeight') + 'px'); }

/*选卡基本样式*/
.tab {
  border-bottom: 2px solid #1D5492;
  line-height: 28px; }
  .tab ul {
    overflow: hidden; }
  .tab li {
    float: left;
    margin-right: 10px;
    border-color: #D7D7D7;
    border-style: solid;
    border-width: 1px 1px 0;
    cursor: pointer;
    border-radius: 2px 2px 0 0; }
    .tab li.current {
      border-color: #1D5492;
      background-color: #1D5492; }
      .tab li.current a {
        color: #fff;
        font-weight: bold; }
  .tab a {
    padding: 0 1.5em;
    display: block; }

/*图标基本样式*/
.ico-circle-o, .ico-circle-p {
  padding: 3px 5px;
  font-size: 12px;
  font-weight: 400;
  border: 1px solid; }

.ico-circle-p {
  border-color: #00D500;
  color: #080; }

.ico-circle-o {
  border-color: #FFB17D;
  color: #F60; }

/*搜索区域的基本样式*/
.search-area {
  margin-top: 15px;
  padding: 8px 0;
  background-color: #F0F5FB;
  border: 1px solid #D8E6F5; }
  .search-area form {
    padding: 10px 10px 20px;
    padding: 0; }
    .search-area form th {
      text-align: right;
      font-weight: lighter; }
    .search-area form th, .search-area form td {
      vertical-align: top;
      -moz-box-sizing: content-box;
      -webkit-box-sizing: content-box;
      box-sizing: content-box; }
    .search-area form input, .search-area form select {
      vertical-align: top; }
    .search-area form {
      font-size: 12px; }
    .search-area form th {
      padding-right: 10px;
      width: 120px;
      min-height: 33px;
      height: 33px; }
    .search-area form th, .search-area form td {
      line-height: 25px; }
    .search-area form td {
      padding-bottom: 8px; }
    .search-area form .form-menu {
      margin-top: 10px;
      margin-left: 130px; }
    .search-area form.frm-v-lg {
      font-size: 12px; }
    .search-area form.frm-v-lg th, .search-area form.frm-v-lg td {
      line-height: 25px; }
    .search-area form.frm-v-sm {
      font-size: 12px; }
    .search-area form.frm-v-sm th, .search-area form.frm-v-sm td {
      line-height: 32px; }
    .search-area form.frm-v-xlg {
      font-size: 12px; }
    .search-area form.frm-v-xlg th, .search-area form.frm-v-xlg td {
      line-height: 25px; }
    .search-area form th, .search-area form td {
      padding-top: 8px; }
  .search-area input {
    box-sizing: content-box;
    line-height: 22px;
    height: 22px;
    border: 1px solid #8CA9CC;
    border-radius: 2px;
    padding: 1px 0.5em; }
    .search-area input:focus {
    box-shadow: 0 0 5px #A4C6FD;
      outline: -webkit-focus-ring-color auto 5px; }
  .search-area .checkbox-list input {
    padding: 0;
    height: 13px;
    line-height: 13px; }

/*右边功能操作基本样式*/
.operate-area {
  margin-top: 54px;
  width: 180px;
  float: right;
  text-align: center;
  line-height: 32px;
  border: 1px solid #ddd;
  background-color: #fff; }
  .operate-area h3 {
    background-color: #D6DBE0;
    font-weight: bold; }
  .operate-area ul {
    margin: 0 10px;
    border-bottom: 1px solid #ddd; }

/*头部*/
#header {
  height: 70px;
  min-width: 1220px;
  _width: 1220px;
  position: relative;
  z-index: 30;
  background: url("http://img.tgimg.cn/ywqadmin/shared/logo.gif") no-repeat 20px 0 #31465f;
  color: #fff; }
  #header nav {
    margin-left: 200px;
    }
  #header nav a{
    padding: 0 40px;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    line-height: 66px;
    font-weight: bold;
    background-color: #375171;
    border-bottom: 4px solid #619DE0;
    color:#fff;
    margin-right: 5px;
    }
#header nav a.current{
  cursor: default;
    } 
  #header .user {
    float: right;
    margin-right: 40px;
    line-height: 70px; }
    #header .user .name {
      padding: 0 10px;
      color: #fff; }
      #header .user .name i {
        display: inline-block;
        *display: inline;
        *zoom: 1;
        vertical-align: top;
        *vertical-align: middle;
        margin-top: 30.5px;
        *margin-top: 0;
        _margin-top: 30.5px;
        _margin-bottom: 30.5px;
        margin-left: 5px;
        width: 9px;
        height: 9px;
        background: url("http://img.tgimg.cn/ywqadmin/shared/ico-arrow.gif") 0 2px; }
      #header .user .name:hover i {
        background-position: 0 -8px; }

.alert-box {
  display: none;
  top: 50px;
  right: 40px;
  padding: 1px;
  width: 120px;
  background-color: #fff;
  border: 1px solid #619DE0;
  line-height: 28px;
  border-top: 0;
  text-align: center; }
  .alert-box a {
    display: block;
    color: #333; }
    .alert-box a:hover {
      background-color: #375171;
      color: #fff; }

/*左边导航*/
#nav-bar {
        float: left;
  /*position: fixed;
  padding-top: 70px;*/
  z-index: 20;
  bottom: 0;
  top: 0;
  width: 200px;
  background-color: #E8EBEF;
  line-height: 28px;
  text-align: right; }
  #nav-bar li {
    padding: 10px 0;
    border-bottom: 1px solid #BFC8D8;
    border-top: 1px solid #F4F5F6;
    color: #354B66; }
  #nav-bar dt, #nav-bar dd {
    padding-right: 30px; }
  #nav-bar dt {
    font-weight: bold; }
  #nav-bar dd.current {
    background: url("http://img.tgimg.cn/ywqadmin/shared/ico-arrow.gif") 178px -13px no-repeat; }
    #nav-bar dd.current a {
      color: #2878D0; }
  #nav-bar a {
    color: #354B66; }
    #nav-bar a:hover {
      color: #2878D0; }
  #nav-bar .amount {
    margin-right: 4px;
    padding: 1px 4px;
    background-color: #C00;
    color: #fff; }

/*主要内容*/
#main-cont {
  margin-left: 210px;
  min-width: 1010px;
  _width: 1010px; }
  #main-cont .crumbs {
    padding-left: 10px;
    line-height: 38px;
    border-bottom: 1px dotted #BFC8D8; }

/*列表样式*/
.count-area {
  padding-left: 10px;
  line-height: 40px; }
  .count-area span {
    margin-right: 20px; }

.list-area {
  position: relative;
  padding-bottom: 50px; }
  .list-area .table-common td {
    border-right-style: solid; }
  .list-area .inner-table {
    margin: 4px 0 4px 80px; }
    .list-area .inner-table td {
      border: 0;
      padding: 0; }

/*表单验证基本样式*/
form label.error {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: top;
  *vertical-align: middle;
  margin-top: 0px;
  *margin-top: 0;
  _margin-top: 0px;
  _margin-bottom: 0px;
  margin-left: 5px;
  padding-left: 15px;
  height: 26px;
  background-image: url("http://img.tgimg.cn/Project/V2/icon/right-err.png");
  background-repeat: no-repeat;
  background-position: 0 -29px;
  background-color: #fff;
  color: #c00; }
form label.valid {
  background-position: 0 7px; }
.calendar{
    width:71px; }
.code-info dl {
    overflow:hidden;
    zoom:1; }
.code-info dt{
    float:left; }
.code-info dd{
    float:left; }
.tag{
    padding:1px;
    font-size:12px;
    font-family:"微软雅黑 Regular","微软雅黑";
    color:white;    
}
.tag-green{
    background-color:#76b65b;
    }
.tag-blue{
    background-color:#44a6e1;
        }
.tag-red{
    background-color:#d20c0c;
        }
.tag-yellow{
    background-color:#ffa10e;
            }
    