@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="/Resources/Css/style.css">
</head>
<body>
    <script src="/Resources/Js/jQuery-3.1.0.min.js"></script>   
    @RenderBody()
</body>
</html>
