@{
    ViewBag.Title = "首页";
    Layout = "~/Views/Layout/_header.cshtml";
}
<link href="/Resources/css/default.css" rel="stylesheet" />
<div class="flh-index">
    <div class="flh-index-header layout-width">
        <div class="flh-index-header-left lf">
            <div class="flh-index-header-nav">
                <div class="flh-index-header-nav-list">
                    <a class="flh-index-header-nav-lista" href="javascript:;">
                        <i class="nav-icon-left" id="nav-icon-1"></i>
                        花边
                        <i class="nav-icon-right">&gt;</i>
                    </a>
                    <div class="flh-index-header-nav-main">
                        <ul>
                            <li><a href="javascript:;">花边1</a></li>
                            <li><a href="javascript:;">花边2</a></li>
                            <li><a href="javascript:;">花边3</a></li>
                            <li><a href="javascript:;">花边4</a></li>
                            <li><a href="javascript:;">花边5</a></li>
                        </ul>
                    </div>
                </div>
                <div class="flh-index-header-nav-list">
                    <a class="flh-index-header-nav-lista" href="javascript:;">
                        <i class="nav-icon-left" id="nav-icon-1"></i>
                        花边
                        <i class="nav-icon-right">&gt;</i>
                    </a>
                    <div class="flh-index-header-nav-main">
                        <ul>
                            <li><a href="javascript:;">花边1</a></li>
                            <li><a href="javascript:;">花边2</a></li>
                            <li><a href="javascript:;">花边3</a></li>
                            <li><a href="javascript:;">花边4</a></li>
                            <li><a href="javascript:;">花边5</a></li>
                        </ul>
                    </div>
                </div>
                <div class="flh-index-header-nav-list">
                    <a class="flh-index-header-nav-lista" href="javascript:;">
                        <i class="nav-icon-left" id="nav-icon-1"></i>
                        花边
                        <i class="nav-icon-right">&gt;</i>
                    </a>
                    <div class="flh-index-header-nav-main">
                        <ul>
                            <li><a href="javascript:;">花边1</a></li>
                            <li><a href="javascript:;">花边2</a></li>
                            <li><a href="javascript:;">花边3</a></li>
                            <li><a href="javascript:;">花边4</a></li>
                            <li><a href="javascript:;">花边5</a></li>
                        </ul>
                    </div>
                </div>
                <div class="flh-index-header-nav-list">
                    <a class="flh-index-header-nav-lista" href="javascript:;">
                        <i class="nav-icon-left" id="nav-icon-1"></i>
                        花边
                        <i class="nav-icon-right">&gt;</i>
                    </a>
                    <div class="flh-index-header-nav-main">
                        <ul>
                            <li><a href="javascript:;">花边1</a></li>
                            <li><a href="javascript:;">花边2</a></li>
                            <li><a href="javascript:;">花边3</a></li>
                            <li><a href="javascript:;">花边4</a></li>
                            <li><a href="javascript:;">花边5</a></li>
                        </ul>
                    </div>
                </div>
                <div class="flh-index-header-nav-list">
                    <a class="flh-index-header-nav-lista" href="javascript:;">
                        <i class="nav-icon-left" id="nav-icon-1"></i>
                        花边
                        <i class="nav-icon-right">&gt;</i>
                    </a>
                    <div class="flh-index-header-nav-main">
                        <ul>
                            <li><a href="javascript:;">花边1</a></li>
                            <li><a href="javascript:;">花边2</a></li>
                            <li><a href="javascript:;">花边3</a></li>
                            <li><a href="javascript:;">花边4</a></li>
                            <li><a href="javascript:;">花边5</a></li>
                        </ul>
                    </div>
                </div>
                <div class="flh-index-header-nav-list">
                    <a class="flh-index-header-nav-lista" href="javascript:;">
                        <i class="nav-icon-left" id="nav-icon-1"></i>
                        花边
                        <i class="nav-icon-right">&gt;</i>
                    </a>
                    <div class="flh-index-header-nav-main">
                        <ul>
                            <li><a href="javascript:;">花边1</a></li>
                            <li><a href="javascript:;">花边2</a></li>
                            <li><a href="javascript:;">花边3</a></li>
                            <li><a href="javascript:;">花边4</a></li>
                            <li><a href="javascript:;">花边5</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="flh-index-header-right lf">
            <ul>
                <li>
                    <a href="javascript:;">
                        <img alt="拉链" src="http://preview.quanjing.com/chineseview034/east-a51-571477.jpg" />
                        <div class="flh-index-header-right-bg"></div>
                        <div class="flh-index-header-right-text">拉链</div>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <img alt="拉链" src="http://preview.quanjing.com/chineseview034/east-a51-571477.jpg" />
                        <div class="flh-index-header-right-bg"></div>
                        <div class="flh-index-header-right-text">拉链</div>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <img alt="拉链" src="http://preview.quanjing.com/chineseview034/east-a51-571477.jpg" />
                        <div class="flh-index-header-right-bg"></div>
                        <div class="flh-index-header-right-text">拉链</div>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <img alt="拉链" src="http://preview.quanjing.com/chineseview034/east-a51-571477.jpg" />
                        <div class="flh-index-header-right-bg"></div>
                        <div class="flh-index-header-right-text">拉链</div>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <img alt="拉链" src="http://preview.quanjing.com/chineseview034/east-a51-571477.jpg" />
                        <div class="flh-index-header-right-bg"></div>
                        <div class="flh-index-header-right-text">拉链</div>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <img alt="拉链" src="http://preview.quanjing.com/chineseview034/east-a51-571477.jpg" />
                        <div class="flh-index-header-right-bg"></div>
                        <div class="flh-index-header-right-text">拉链</div>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <img alt="拉链" src="http://preview.quanjing.com/chineseview034/east-a51-571477.jpg" />
                        <div class="flh-index-header-right-bg"></div>
                        <div class="flh-index-header-right-text">拉链</div>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <img alt="拉链" src="http://preview.quanjing.com/chineseview034/east-a51-571477.jpg" />
                        <div class="flh-index-header-right-bg"></div>
                        <div class="flh-index-header-right-text">拉链</div>
                    </a>
                </li>
                <div class="clear"></div>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
    <div class="flh-index-main layout-width">
        <div class="flh-index-main-list">
            <div class="flh-index-main-left">
                <div class="flh-index-main-list-title">分类</div>
                <a href="javascript:;">
                    <img alt="分类" src="http://preview.quanjing.com/chineseview034/east-a51-571477.jpg" />
                </a>
            </div>
            <div class="flh-index-main-right">
                <ul>
                    <li>
                        <a href="javascript:;">
                            <div class="flh-index-main-list-subordinateImg">
                                <img alt="二级分类" src="http://preview.quanjing.com/chineseview034/east-a51-571477.jpg" />
                            </div>
                            <p>二级分类</p>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <div class="flh-index-main-list-subordinateImg">
                                <img alt="二级分类" src="http://preview.quanjing.com/chineseview034/east-a51-571477.jpg" />
                            </div>
                            <p>二级分类</p>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <div class="flh-index-main-list-subordinateImg">
                                <img alt="二级分类" src="http://preview.quanjing.com/chineseview034/east-a51-571477.jpg" />
                            </div>
                            <p>二级分类</p>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <div class="flh-index-main-list-subordinateImg">
                                <img alt="二级分类" src="http://preview.quanjing.com/chineseview034/east-a51-571477.jpg" />
                            </div>
                            <p>二级分类</p>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <div class="flh-index-main-list-subordinateImg">
                                <img alt="二级分类" src="http://preview.quanjing.com/chineseview034/east-a51-571477.jpg" />
                            </div>
                            <p>二级分类</p>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <div class="flh-index-main-list-subordinateImg">
                                <img alt="二级分类" src="http://preview.quanjing.com/chineseview034/east-a51-571477.jpg" />
                            </div>
                            <p>二级分类</p>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <div class="flh-index-main-list-subordinateImg">
                                <img alt="二级分类" src="http://preview.quanjing.com/chineseview034/east-a51-571477.jpg" />
                            </div>
                            <p>二级分类</p>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <div class="flh-index-main-list-subordinateImg">
                                <img alt="二级分类" src="http://preview.quanjing.com/chineseview034/east-a51-571477.jpg" />
                            </div>
                            <p>二级分类</p>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <div class="flh-index-main-list-subordinateImg">
                                <img alt="二级分类" src="http://preview.quanjing.com/chineseview034/east-a51-571477.jpg" />
                            </div>
                            <p>二级分类</p>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <div class="flh-index-main-list-subordinateImg">
                                <img alt="二级分类" src="http://preview.quanjing.com/chineseview034/east-a51-571477.jpg" />
                            </div>
                            <p>二级分类</p>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <div class="flh-index-main-list-subordinateImg">
                                <img alt="二级分类" src="http://preview.quanjing.com/chineseview034/east-a51-571477.jpg" />
                            </div>
                            <p>二级分类</p>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <div class="flh-index-main-list-subordinateImg">
                                <img alt="二级分类" src="http://preview.quanjing.com/chineseview034/east-a51-571477.jpg" />
                            </div>
                            <p>二级分类</p>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <div class="flh-index-main-list-subordinateImg">
                                <img alt="二级分类" src="http://preview.quanjing.com/chineseview034/east-a51-571477.jpg" />
                            </div>
                            <p>二级分类</p>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <div class="flh-index-main-list-subordinateImg">
                                <img alt="二级分类" src="http://preview.quanjing.com/chineseview034/east-a51-571477.jpg" />
                            </div>
                            <p>二级分类</p>
                        </a>
                    </li>
                    <div class="clear"></div>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
        <div class="flh-index-main-list">
            <div class="flh-index-main-left">
                <div class="flh-index-main-list-title">分类</div>
                <a href="javascript:;">
                    <img alt="分类" src="http://preview.quanjing.com/chineseview034/east-a51-571477.jpg" />
                </a>
            </div>
            <div class="flh-index-main-right">
                <ul>
                    <li>
                        <a href="javascript:;">
                            <div class="flh-index-main-list-subordinateImg">
                                <img alt="二级分类" src="http://preview.quanjing.com/chineseview034/east-a51-571477.jpg" />
                            </div>
                            <p>二级分类</p>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <div class="flh-index-main-list-subordinateImg">
                                <img alt="二级分类" src="http://preview.quanjing.com/chineseview034/east-a51-571477.jpg" />
                            </div>
                            <p>二级分类</p>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <div class="flh-index-main-list-subordinateImg">
                                <img alt="二级分类" src="http://preview.quanjing.com/chineseview034/east-a51-571477.jpg" />
                            </div>
                            <p>二级分类</p>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <div class="flh-index-main-list-subordinateImg">
                                <img alt="二级分类" src="http://preview.quanjing.com/chineseview034/east-a51-571477.jpg" />
                            </div>
                            <p>二级分类</p>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <div class="flh-index-main-list-subordinateImg">
                                <img alt="二级分类" src="http://preview.quanjing.com/chineseview034/east-a51-571477.jpg" />
                            </div>
                            <p>二级分类</p>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <div class="flh-index-main-list-subordinateImg">
                                <img alt="二级分类" src="http://preview.quanjing.com/chineseview034/east-a51-571477.jpg" />
                            </div>
                            <p>二级分类</p>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <div class="flh-index-main-list-subordinateImg">
                                <img alt="二级分类" src="http://preview.quanjing.com/chineseview034/east-a51-571477.jpg" />
                            </div>
                            <p>二级分类</p>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <div class="flh-index-main-list-subordinateImg">
                                <img alt="二级分类" src="http://preview.quanjing.com/chineseview034/east-a51-571477.jpg" />
                            </div>
                            <p>二级分类</p>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <div class="flh-index-main-list-subordinateImg">
                                <img alt="二级分类" src="http://preview.quanjing.com/chineseview034/east-a51-571477.jpg" />
                            </div>
                            <p>二级分类</p>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <div class="flh-index-main-list-subordinateImg">
                                <img alt="二级分类" src="http://preview.quanjing.com/chineseview034/east-a51-571477.jpg" />
                            </div>
                            <p>二级分类</p>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <div class="flh-index-main-list-subordinateImg">
                                <img alt="二级分类" src="http://preview.quanjing.com/chineseview034/east-a51-571477.jpg" />
                            </div>
                            <p>二级分类</p>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <div class="flh-index-main-list-subordinateImg">
                                <img alt="二级分类" src="http://preview.quanjing.com/chineseview034/east-a51-571477.jpg" />
                            </div>
                            <p>二级分类</p>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <div class="flh-index-main-list-subordinateImg">
                                <img alt="二级分类" src="http://preview.quanjing.com/chineseview034/east-a51-571477.jpg" />
                            </div>
                            <p>二级分类</p>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <div class="flh-index-main-list-subordinateImg">
                                <img alt="二级分类" src="http://preview.quanjing.com/chineseview034/east-a51-571477.jpg" />
                            </div>
                            <p>二级分类</p>
                        </a>
                    </li>
                    <div class="clear"></div>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
        <div class="flh-index-main-list">
            <div class="flh-index-main-left">
                <div class="flh-index-main-list-title">分类</div>
                <a href="javascript:;">
                    <img alt="分类" src="http://preview.quanjing.com/chineseview034/east-a51-571477.jpg" />
                </a>
            </div>
            <div class="flh-index-main-right">
                <ul>
                    <li>
                        <a href="javascript:;">
                            <div class="flh-index-main-list-subordinateImg">
                                <img alt="二级分类" src="http://preview.quanjing.com/chineseview034/east-a51-571477.jpg" />
                            </div>
                            <p>二级分类</p>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <div class="flh-index-main-list-subordinateImg">
                                <img alt="二级分类" src="http://preview.quanjing.com/chineseview034/east-a51-571477.jpg" />
                            </div>
                            <p>二级分类</p>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <div class="flh-index-main-list-subordinateImg">
                                <img alt="二级分类" src="http://preview.quanjing.com/chineseview034/east-a51-571477.jpg" />
                            </div>
                            <p>二级分类</p>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <div class="flh-index-main-list-subordinateImg">
                                <img alt="二级分类" src="http://preview.quanjing.com/chineseview034/east-a51-571477.jpg" />
                            </div>
                            <p>二级分类</p>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <div class="flh-index-main-list-subordinateImg">
                                <img alt="二级分类" src="http://preview.quanjing.com/chineseview034/east-a51-571477.jpg" />
                            </div>
                            <p>二级分类</p>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <div class="flh-index-main-list-subordinateImg">
                                <img alt="二级分类" src="http://preview.quanjing.com/chineseview034/east-a51-571477.jpg" />
                            </div>
                            <p>二级分类</p>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <div class="flh-index-main-list-subordinateImg">
                                <img alt="二级分类" src="http://preview.quanjing.com/chineseview034/east-a51-571477.jpg" />
                            </div>
                            <p>二级分类</p>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <div class="flh-index-main-list-subordinateImg">
                                <img alt="二级分类" src="http://preview.quanjing.com/chineseview034/east-a51-571477.jpg" />
                            </div>
                            <p>二级分类</p>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <div class="flh-index-main-list-subordinateImg">
                                <img alt="二级分类" src="http://preview.quanjing.com/chineseview034/east-a51-571477.jpg" />
                            </div>
                            <p>二级分类</p>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <div class="flh-index-main-list-subordinateImg">
                                <img alt="二级分类" src="http://preview.quanjing.com/chineseview034/east-a51-571477.jpg" />
                            </div>
                            <p>二级分类</p>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <div class="flh-index-main-list-subordinateImg">
                                <img alt="二级分类" src="http://preview.quanjing.com/chineseview034/east-a51-571477.jpg" />
                            </div>
                            <p>二级分类</p>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <div class="flh-index-main-list-subordinateImg">
                                <img alt="二级分类" src="http://preview.quanjing.com/chineseview034/east-a51-571477.jpg" />
                            </div>
                            <p>二级分类</p>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <div class="flh-index-main-list-subordinateImg">
                                <img alt="二级分类" src="http://preview.quanjing.com/chineseview034/east-a51-571477.jpg" />
                            </div>
                            <p>二级分类</p>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <div class="flh-index-main-list-subordinateImg">
                                <img alt="二级分类" src="http://preview.quanjing.com/chineseview034/east-a51-571477.jpg" />
                            </div>
                            <p>二级分类</p>
                        </a>
                    </li>
                    <div class="clear"></div>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
<div class="flh-index-horizontal">
    <div class="flh-index-horizontal-main">
        <a class="current" href="javascript:;">
            分类
        </a>
        <a href="javascript:;">
            分类
        </a>
        <a href="javascript:;">
            分类
        </a>
        <a href="javascript:;">
            分类
        </a>
        <a href="javascript:;">
            分类
        </a>
        <a href="javascript:;" style=" border:0px;">
            分类
        </a>
    </div>
</div>
<div class="flh-index-advisory">
    <a href="javascript:;">欢迎咨询</a>
</div>
<script>
    $(function () {
        $('.flh-index-header-nav-list').hover(function () {
            $(this).addClass('nav-hover');
        }, function () {
            $(this).removeClass('nav-hover');
        })
    })
</script>
