@{
    Layout = "~/Views/Layout/_header.cshtml";
    ViewBag.Title = "修改密码";
}
<link href="/Resources/css/user.css" rel="stylesheet" />
<div class="flh-user layout-width">
    <div class="flh-usermain">
        <div id="flh-ChangePassword">
            <div class="flh-usermain-content">
                <div class="flh-usermain-list">
                    <div class="flh-usermain-list-nr">
                        <input class="flh-usermain-input indent20 v-oPassword" type="password" name="oPassword" placeholder="旧密码" />
                        <label class="oPassword-error"></label>
                    </div>
                </div>
                <div class="flh-usermain-list">
                    <div class="flh-usermain-list-nr">
                        <input class="flh-usermain-input indent20 v-nPassword" type="password" name="nPassword" placeholder="新密码" />
                        <label class="nPassword-error"></label>
                    </div>
                </div>
                <div class="flh-usermain-other">
                    <a class="other-submit fun-verificationSubmit" href="javascript:;">确定</a>
                </div>
            </div>
        </div>
        <div class="flh-user-boxbg"></div>
    </div>
</div>

<script>
    $(function () {
        var rPassword = /^[0-9_a-zA-Z]{6,20}$/;
        //提交
        $('.fun-verificationSubmit').on('click', function () {
            var _this = $(this),
                _ancestor = $('#flh-ChangePassword'),
                nPassword = $.trim($('.v-nPassword', _ancestor).val()),
                oPassword = $.trim($('.v-oPassword', _ancestor).val());
            $('label', _ancestor).hide();
            if (oPassword == "") {
                $('.oPassword-error', _ancestor).html("请输入旧密码").show();
                return false;
            }
            if (!rPassword.test(nPassword)) {
                $('.nPassword-error', _ancestor).html("6-20个数字或字母").show();
                return false;
            }
            if (_this.text() == "确定") {
                _this.text("确定中...").css("letter-spacing", "0px");
                $.ajax({
                    url: "/Account/ChangePassword",
                    type: "post",
                    data: { "oldPassword": oPassword, "newPasswrod": nPassword },
                    dataType: "json",
                    success: function (res) {
                        if (res.code == 0) {
                            window.location.href = "/Account/login";
                        } else {
                            alert(res.msg);
                            _this.text("确定").css("letter-spacing", "8px");
                        }
                    }
                })
            }
        })
    })
</script>
