@{
    Layout = "~/Views/Layout/_header.cshtml";
    ViewBag.Title = "修改手机";
}
<link href="/Resources/css/user.css" rel="stylesheet" />
<div class="flh-user layout-width">
    <div class="flh-usermain">
        <div id="flh-verification-mobile">
            <div class="flh-usermain-content">
                <div class="flh-usermain-list pl48">
                    <span class="icon-usermobile"></span>
                    <div class="flh-usermain-list-nr">
                        <input class="flh-usermain-input v-UserMobile" type="text" name="UserMobile" placeholder="新手机" autocomplete="off" />
                        <label class="UserName-error">sdsad</label>
                    </div>
                </div>
                <div class="flh-usermain-list pr140">
                    <a class="flh-usermain-mobileCode fun-getMobileCode">获取验证码</a>
                    <div class="flh-usermain-list-nr">
                        <input class="flh-usermain-input indent20 v-Code" type="text" name="Code" placeholder="验证码" autocomplete="off" />
                        <label class="Code-error"></label>
                    </div>
                </div>
                <div class="flh-usermain-other">
                    <a class="other-submit fun-verificationPhone" href="javascript:;">确定</a>
                </div>
            </div>
        </div>
        <div class="flh-user-boxbg"></div>
    </div>
</div>

<script>
    $(function () {
        $('.fun-verificationPhone').on('click', function () {
            var _mobile = $.trim($('.v-UserMobile').val()),
                _code = $.trim($('.v-Code').val()),
                _ancestor = $('#flh-verification-mobile'),
                _this = $(this);
            $('label', _ancestor).hide();
            if (_mobile == "") {
                $('.UserName-error', _ancestor).html("请输入手机号码").show();
            }
            if (_code == "") {
                $('.Code-error', _ancestor).html("请输入验证码").show();
                return false;
            }
            if (nPassword != "" && rPassword != "" && _this.text() == "确定") {
                _this.text("确定中...").css("letter-spacing", "0px");
                $.ajax({
                    url: url,
                    type: "post",
                    data: {},
                    dataType: "json",
                    success: function (res) {
                        if (res.state.code == "0x00000000") {
                            window.location.href = "/account/login";
                        } else {
                            alert(res.message)
                        }
                        _this.text("确定").css("letter-spacing", "8px");
                    }
                })
            }
        })


/*
        //获取校验码
        $('.fun-getMobileCode').on('click', function () {
            var _this = $(this),
                isclick = _this.data("isclick") || false,
                _ancestor = $('#flh-verification-mobile'),
                _mobile = $.trim($('.v-UserMobile', _ancestor).val());
            $('label', _ancestor).hide();
            if (_mobile == "") {
                $('.UserName-error', _ancestor).html("请输入手机号码").show();
                return false;
            }
            if (!isclick) {
                _this.data("isclick", true);
                var success_event = function (data) {
                    if (data.data) {
                        alert("成功");
                        _this.removeData("isclick");
                    } else {
                        alert("失败");
                        _this.removeData("isclick");
                    }
                }
                //getData(url, type, data, success_event, dataType)
            }

        });
        //手机验证
        $('.fun-verificationPhone').on('click', function () {
            var _mobile = $.trim($('.v-UserMobile').val()),
                _code = $.trim($('.v-Code').val()),
                _ancestor = $('#flh-verification-mobile'),
                _this = $(this);
            $('label', _ancestor).hide();
            if (_mobile == "") {
                $('.UserName-error', _ancestor).html("请输入手机号码").show();
            }
            if (_code == "") {
                $('.Code-error', _ancestor).html("请输入验证码").show();
                return false;
            }
            if (_this.text() == "确定") {
                _this.text("确定中...").css("letter-spacing", "0px");
                _ancestor.hide();
                $('#flh-ResetPassword').fadeIn();
                var success_event = function (data) {
                    if (data.data) {
                        _ancestor.hide();
                        $('#flh-verification-mobile').fadeIn();
                        _this.text("确定").css("letter-spacing", "8px");
                    } else {
                        alert("失败");
                        _this.text("确定").css("letter-spacing", "8px");
                    }
                }
                //getData(url, type, data, success_event, dataType)
            }
        });*/

    })
</script>