@{
    Layout = "~/Views/Layout/_header.cshtml";
    ViewBag.Title = "登陆";
}
<div class="flh-layout-main" >
    <div class="flh-login-bg-left"></div>
    <div class="flh-login-main">
        <form action="@Url.Action("Login")" method="post" enctype="application/x-www-form-urlencoded">
            <div class="flh-login-list">
                <div class="flh-login-list-th">用户名：</div>
                <div class="flh-login-list-td">
                    <input class="flh-login-default-input" name="UserName" placeholder="手机号/邮箱" />
                    <label></label>
                </div>
            </div>
            <div class="flh-login-list">
                <div class="flh-login-list-th">密码：</div>
                <div class="flh-login-list-td">
                    <input class="flh-login-default-input" name="Password" />
                    <label></label>
                </div>
            </div>
            <div class="flh-login-list">
                <div class="flh-login-list-th">验证码：</div>
                <div class="flh-login-list-code">
                    <input class="flh-login-input-code" name="Code" />
                    <img alt="验证码" src="" />
                    <label></label>
                </div>
            </div>
            <div class="flh-login-submit"><input value="登录" type="submit" /></div>
            <div class="flh-login-other">
                <a class="flh-login-other-left" href="javascript:;">注册</a>
                <a class="flh-login-other-right" href="javascript:;">忘记密码</a>
                <div class="clear"></div>
            </div>
        </form>
    </div>
    <div class="flh-login-bg-right"></div>
</div>

