@{
    Layout = "~/Views/Layout/_header.cshtml";
    ViewBag.Title = "找回密码";
}

<div class="flh-user layout-width">
    <div class="flh-usermain">
        <div class="flh-usermain-content">
            <div class="flh-usermain-list">
                <div class="flh-usermain-list-nr">
                    <input class="flh-usermain-input indent20" type="text" name="Password" placeholder="新密码" />
                    <label></label>
                </div>
            </div>
            <div class="flh-usermain-list">
                <div class="flh-usermain-list-nr">
                    <input class="flh-usermain-input indent20" type="text" name="ResetPassword" placeholder="确认密码" />
                    <label></label>
                </div>
            </div>
            <div class="flh-usermain-other">
                <a class="other-submit" href="javascript:;">确定</a>
            </div>
        </div>
        <div class="flh-user-boxbg"></div>
    </div>
</div>
