@{
    Layout = "~/Views/Layout/_header.cshtml";
    ViewBag.Title = "找回密码";
}

<div class="flh-layout-main">
    <div class="flh-login-bg-left"></div>
    <div class="flh-login-main">
        <form action="" method="post" enctype="application/x-www-form-urlencoded">
            <div class="flh-login-list">
                <div class="flh-login-list-th">手机：</div>
                <div class="flh-login-list-td">
                    <input class="flh-login-default-input" name="Password" />
                    <label></label>
                </div>
            </div>
            <div class="flh-login-list">
                <div class="flh-login-list-th">验证码：</div>
                <div class="flh-login-list-code">
                    <input class="flh-login-input-code" name="Code" />
                    <a href="javascript:;">获取验证码</a>
                    <label></label>
                </div>
            </div>
            <div class="flh-login-submit"><input value="确认" type="submit" /></div>
        </form>
    </div>
    <div class="flh-login-bg-right"></div>
</div>
