/*首页*/
.layout-width{ width: 1200px; margin: 0px auto;}
.lf{ float: left;}
.rf{float: right;}
.btop-d7d7d7{border-top: 1px solid #D7D7D7;}
.flh-index-header{ margin: 0px auto;}
.flh-index-header-left{ width:190px; border:2px solid #C7181D; height: 506px;}
.flh-index-header-right{ width: 1004px;height: 508px; border:1px solid #C7181D;}
.flh-index-header-nav{ width: 100%; padding-top: 27px; position: relative;}
.flh-index-header-nav-list{height: 40px;  font-size: 16px;}
.flh-index-header-nav-lista{ color: #2b2b2b; position: relative; padding: 10px 60px 10px 70px; display: block; line-height: 20px; }
.nav-icon-left{ position: absolute;top:10px; left: 30px; display: block; background: #D2D2D2; width: 20px; height: 20px;}
.nav-icon-right{position: absolute;top:10px; right: 40px; display: block;height: 20px; line-height: 20px; color: #808080; font-style: normal; font-size: 18px;}
.nav-hover .flh-index-header-nav-lista{ background: #C7181F;  color: #fff;}
.nav-hover .nav-icon-right{ color: #fff;}
.flh-index-header-nav-main{ display: none; position: absolute; top: -2px; left: 192px;  height: 508px; z-index: 10; background: #fafafa;}
.flh-index-header-nav-main ul{width: 100px; height: 100%; border: 1px solid #C7181F;}
.flh-index-header-nav-main li{ text-align: center;}
.flh-index-header-nav-main a{ line-height: 30px; color: #666;}
.flh-index-header-nav-main a:hover{color: #C7181F;}
.nav-hover .flh-index-header-nav-main{ display: block;}
.flh-index-header-right ul{ width: 100%; padding-top: 36px;}
.flh-index-header-right li{ margin: 0px 10px 36px 18px; float: left; width: 220px; height: 200px; position: relative;}
.flh-index-header-right li a{color: #666;}
.flh-index-header-right li a:hover{ color: #C7181F;}
.flh-index-header-right li img{ display: block; width: 220px; height: 200px;}
.flh-index-header-right-bg{position: absolute;bottom: 0px; left: 0px; width: 100%; height: 50px; background: #fff;opacity:0.8;filter:alpha(opacity=80); z-index: 1}
.flh-index-header-right-text{position: absolute;bottom: 0px; left: 0px; width: 100%; height: 50px;z-index: 2; text-align: center; font-size: 18px; line-height: 50px; }
.flh-index-main{ margin: 0px auto 100px auto;}
.flh-index-main-list{ width: 1198px;margin-top: 40px; border:1px solid #E1E1E1; height: 380px;}
.flh-index-main-left{ width: 290px; float: left;}
.flh-index-main-list-title{ width:100%; font-size: 18px; color: #666; background: #E1E1E1; line-height: 60px;text-align: center;}
.flh-index-main-left img{ display: block; width: 290px; height: 320px;}
.flh-index-main-right{ width: 889px;margin-left: 17px; float: left;}
.flh-index-main-right ul{ width: 100%; padding-top: 40px;}
.flh-index-main-right ul li{ width: 112px; margin-right: 15px; float: left;}
.flh-index-main-list-subordinateImg{ display: block; width: 110px; height: 110px; border:1px solid #E5E5E5;}
.flh-index-main-list-subordinateImg img{display: block; width: 110px; height: 110px;}
.flh-index-main-right p{ line-height: 25px; font-size: 12px; height: 50px; text-align: center;}
.flh-index-main-right a{ color: #666;}
.flh-index-main-right a:hover{ color: #C7181F;}
.flh-index-horizontal{ position: fixed; left: 0px; top: 30%; background: #FAFAFA;}
.flh-index-horizontal-main{ width:68px; padding: 6px; border:1px solid #C7181F;}
.flh-index-horizontal-main a{ width: 100%; height: 50px; line-height: 50px; font-size: 14px; border-bottom: 1px solid #E1E1E1; color: #666; display: block; text-align: center;}
.flh-index-horizontal-main a:hover{ background: #C7181F; border-bottom: 1px solid #C7181F; color: #fff; }
.flh-index-horizontal-main .current{ background: #C7181F; border-bottom: 1px solid #C7181F; color: #fff; }
.flh-index-advisory{position: fixed; right: 0px; top: 50%; margin-top: -100px;}
.flh-index-advisory a{padding: 60px 10px; width: 30px;  display: block; background: #C7181F;font-size: 18px; color: #fff; text-align: center;}
.flh-index-advisory a:hover{opacity:0.8;filter:alpha(opacity=80); }
/*产品列表*/
.flh-productList{ margin: 0px auto;}
.flh-productList-left{ width: 192px; float: left;}
.flh-productList-breadCrumbs{ height: 45px; line-height: 45px; font-size: 14px;color: #333; text-align: center; margin-bottom: 15px;}
.flh-productList-breadCrumbs a{ color: #333;}
.flh-productList-breadCrumbs a:hover{ color: #C7181F;}
.flh-productList-classification ul{ width: 100%; height: 100%; background: #F0F0F0;}
.flh-productList-classification li a{ display: block; height: 35px; line-height: 35px; text-align: center; color: #666; font-size: 14px;}
.flh-productList-classification li a:hover{background: #E3E3E3; color: #C7181F;}
.flh-productList-classification .current a{background: #E3E3E3; color: #C7181F;}
.flh-productList-right{width: 980px; float: right;}
.flh-productList-condition{ width: 100%; height: 45px; background: #F0F0F0; margin-bottom: 15px;}
.flh-productList-condition .condition-switch{ float: left; width: 138px; height: 43px; border:1px solid #C7181F; display: block; color: #666; line-height: 43px; text-align: center; font-size: 14px;}
.flh-productList-condition .current{ background: #C7181F; color: #fff;}
.flh-productList-condition .condition-switch:hover{ color:#C7181F; }
.flh-productList-price{ float: left; margin: 0px 10px 0px 25px; line-height: 45px; color: #666; font-size: 14px;}
.flh-productList-price input{ width: 60px; height: 28px; border:1px solid #D5D5D5; background: #F0F0F0;}
.flh-productList-condition .condition-submit{display: block; height: 30px; width: 60px; background: #C7181F; color: #fff; line-height: 30px; text-align: center; margin-top:7.5px; font-size: 14px; float: left;}
.flh-productList-condition .condition-submit:hover{opacity:0.8;filter:alpha(opacity=80);}
.flh-productList-main{ padding: 0px 10px; background: #F0F0F0;}
.flh-productList-main-filter{ height: 45px; border-bottom: 1px solid #D7D6DB; padding:0px 25px;}
.flh-productList-main-filter .filter-left{ float: left; position: relative;padding-left:70px;}
.flh-productList-main-filter .filter-left span{ position: absolute; top: 0px; left: 0px; display: block; height: 45px; font-size: 16px; color: #666;  line-height: 45px;}
.flh-productList-main-filter .filter-left a{ line-height: 45px; color: #666; margin-right: 45px; font-size: 14px; display: block; float: left;}
.flh-productList-main-filter .filter-left a:hover{ color: #C7181F;}
.flh-productList-main-filter .filter-right{ float: right;}
.flh-productList-main-filter .filter-right a{ font-size: 16px; color: #666; line-height: 45px; display: block;}
.flh-productList-main-filter .filter-right a:hover{color: #C7181F;}
.flh-productList-main ul{ width: 100%; margin-left: -33px; margin-top: 33px;}
.flh-productList-main li{ float: left; width: 215px; height: 320px; overflow: hidden; background: #FFFFFF; margin-left: 33px; margin-bottom: 33px;}
.flh-productList-main li img{ width: 215px; height: 215px; display: block;}
.flh-productList-main li img:hover{opacity:0.8;filter:alpha(opacity=80);}
.flh-productList-main li a{ font-size: 14px; color: #666;}
.flh-productList-main li a:hover{ color: #C7181F;}
.productList-main-name{ line-height: 25px; max-height: 40px; overflow: hidden; font-size: 14px; padding: 0px 2px; margin-top: 15px;}
.productList-main-name span{ color: #666;}
.productList-main-Attributes{ padding: 0px 2px;}
.Attributes-list{ float: left; width: 50%; overflow: hidden; line-height: 20px; color: #666;font-size: 13px;}
/*产品详情页面*/
.flh-productDetail-breadCrumbs{ width: 1200px; overflow: hidden; margin-top: 30px; font-size: 16px; line-height: 30px; color: #888;}
.flh-productDetail-breadCrumbs span{ color: #333;}
.productDetail-top{ margin-top: 90px; position: relative;}
.productDetail-top img{ width: 500px; height: 500px; margin: 0px auto;}
.productDetail-top h2{ font-size: 18px; line-height: 30px; position: absolute; top:0px; left: 0px; color: #333;}
.productDetail-middle{ margin: 50px auto; width: 500px;}
.productDetail-middle-btn{ width: 370px; height: 35px; margin: 0px auto;}
.productDetail-middle-btn a{ width: 160px; height: 35px; display: block; line-height: 35px; color: #666; background: #EEEEEE; text-align: center; font-size: 16px;}
.productDetail-middle-btn a:hover{ color: #C7181F;}
.productDetail-middle-info ul{ width: 100%; margin-top: 40px;}
.productDetail-middle-info li{ float: left;  margin-left: 25px; min-width: 130px; color: #999; font-size: 14px; margin-top: 10px;}
.productDetail-middle-info .w100{ width: 100%; }
.productDetail-bottom{ width: 1200px; margin-bottom: 180px;}
.productDetail-bottom ul{ margin-left: -22px; width: 100%;}
.productDetail-bottom li{ float: left;margin-left: 22px;border:1px solid #A1A1A1;width: 118px; height: 118px;}
.productDetail-bottom li img{ display: block; width: 118px; height: 118px;}
.productDetail-bottom .productDetail-bottom-min{ width:78px; height: 118px; }
.productDetail-bottom .productDetail-bottom-min a{ display: block; line-height: 118px; font-size: 14px; color: #333; text-align: center;}
.productDetail-bottom .productDetail-bottom-min a:hover{ color:#C7181F}
.productDetail-bottom .current{ border:1px solid #C7181F; }
/*查看大图*/
.flh-bigImg-bg{ position: fixed; top: 0px; left: 0px; width: 100%; height: 100%; z-index: 1000;opacity:0.6;filter:alpha(opacity=60); background: #000; display: none;}
.flh-bigImg{ width: 1200px; top: 30px; border: 1px solid #C7181F; left: 50%; margin-left: -602px; padding: 1px; background: #fff; position: fixed; z-index: 1001;display: none;}
.flh-bigImg .flh-bigImg-title{  height: 30px; background: #C7181F; line-height: 30px; padding:0px 10px; color: #fff; font-size: 14px;}
.flh-bigImg-main{ overflow: hidden; overflow-y:auto;}
.flh-bigImg .flh-bigImg-title a{ color: #fff; float: right; line-height: 30px;}
.flh-bigImg .flh-bigImg-title a:hover{opacity:0.8;filter:alpha(opacity=80);}