@model Flh.AdminSite.Models.Classes.BatchAddModel
@{
    Layout = "../Layout/_Manager.cshtml";
    ViewBag.Title = "添加行业类型";
}
<div class="crumbs">您的位置：辅料汇后台 &gt;  行业类型管理 &gt; 添加行业类型</div>
<div class="common-form">
    <div style="width:800px">
        <table class="common-list-table">
            <tr><td colspan="4">当前行业类型：@Model.ParentFullName</td></tr>
            <tr>
                <th width="270">中文名称</th>
                <th width="270">英文名称</th>
                <th>排序</th>
                <th width="80">删除</th>
            </tr>
            @foreach (var item in Model.EditModels)
            {
                <tr class="j-batch-item">
                    <td><input type="text" class="input-allName" name="Name" /></td>
                    <td><input type="text" class="input-allEnName" name="EnName" /></td>
                    <td><input type="text" class="input-allOrder" name="Order"  value="0" /></td>
                    <td><button class="j-batch-del">删除</button></td>
                </tr>
            }
            <tr class="j-batch-fun">
                <td colspan="4"><a class="options-add btn-primary j-batch-add">增加一个</a></td>
            </tr>
        </table>
        <div class="options">
            <a class="options-save btn-primary j-batch-submit">保存</a>
        </div>
    </div>
</div>
<script>
    (function () {
        var $itemTemplate = $(".j-batch-item").eq(0).clone(),
            $parent = $(".j-batch-items"),
            submiting = false;
        $(".j-batch-add").click(function () {
            $parent.append($itemTemplate.clone());
        });
        $(".j-batch-items").delegate(".j-batch-del", "click", function () {
            $(this).parents().filter(".j-batch-item").remove();
        });
        $(".j-batch-submit").click(function () {
            if (!submiting) {
                submiting = true;

                var data = {
                    pno: '@Model.ParentNo',
                    model: []
                };

                $(".j-batch-item").each(function (i, e) {
                    var vals = {
                        Name: $.trim($("[name=Name]", e).val()),
                        EnName: $.trim($("[name=EnName]", e).val()),
                        Order: $.trim($("[name=Order]", e).val())
                    };
                    if (vals.Name || vals.EnName)
                        data.model.push(vals);
                });
                data.model = JSON.stringify(data.model);

                $.ajax({
                    url: '@Url.Action("BatchAdd")',
                    type: "post",
                    data: data,
                    dataType: "json",
                    success: function (data) {
                        if (data.code == 0) {
                            location.href = '@Url.Action("list", new { pno = Model.ParentNo })'
                        } else {
                            alert(data.msg)
                        }
                    },
                    error: function () {
                        alert("网络错误，请重试");
                    }
                }).always(function () {
                    submiting = false;
                });
            }
            return false;
        })
    })();
</script>

